# 依赖目录
node_modules/
dist/

# 环境文件
.env
.env.local
.env.*.local

# 日志文件
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器目录和文件
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 构建输出
build/
dist/

# 临时文件
*.tmp
*.temp
.cache/

# 测试覆盖率
coverage/

# 系统文件
Thumbs.db 